<% <% @user_biographies.each do |bio| %>

	<h2><%=  %></h2>
	
	<% Uchronia.all.each do |uchronia| %>
		<div id="<%= uchronia.slug %>">
			<h3>Uchronie <%= uchronia.title %></h3>
			
			<span class="bio_translation"></span>
		</div>
	<% end %>

<%end%>


