<!DOCTYPE html>
<html>
  <head>
    <meta content='text/html; charset=UTF-8' http-equiv='Content-Type' />
  </head>
  <body>
    <h1>Im Namen der Uchronic Research Society heißen wir Sie herzlich willkommen.</h1>
    <p>
      Sie erhalten bald wichtige Informationen...
    </p>
    <p>
    	<small>
      		Sie bekommen diese Email, weil Sie sich auf <a href="www.wirwuerdenhiersein.ch">www.wirwuerdenhiersein.ch</a> registriert haben. Wenn dies nicht der Fall ist, klicken Sie bitte <%= link_to "hier", :controller => :splash, :action => :unregister %>.
      	</small>
    </p>
    <p>Thanks for joining and have a great day!</p>
  </body>
</html>
