<div class="wrapper">
<div class="center">
	<div class="register <%= "fadeout" if @registration_success %>">
		<% if @registration_success %>
			<div class="notice">
				Sie wurden registriert. Vielen Dank.
			</div>
		<% end %>
		<% if @registration_error %>
			<div class="notice">
				Es gab einen Fehler! Bitte versuchen Sie es noch einmal, oder schreiben Sie eine manuelle Email an info@wirwuerdenhiersein.ch
			</div>		
		<% end %>		
		<% if @display_registration_form %>		
			<iframe width="420" height="315" src="//www.youtube.com/embed/nBotEgWjZJw" frameborder="0" allowfullscreen></iframe>	
			<p>Wenn Sie bereits <a href="http://gessnerallee.ch/programm/20131101/#/1984-1983">ein Ticket gekauft</a> haben, registrieren Sie sich bitte hier, um rechtzeitig alle nötigen Informationen zum Spiel zu erhalten.</p>
			<%= render("users/email_registration_form")%>
		<% end %>		
	</div>
</div>
</div>
