<div id="menu">
	<ul>
		<li>
			<a href="#/overview">overview</a>
		</li>
		
	<% Page.all.each do |page| %>
		<li>
			<a href="#/<%= page.slug %>"><%=page.title%></a>
		</li>
	<% end %>
		
		
	</ul>
</div>