<div id="canvas">
	<div id="home" class="step">
		<p>Hello! My name is jmpress.js...</p>
	</div>
	<div class="step" data-x="1000">
		<p>and this is a really simple demo.</p>
	</div>
	<div class="step" data-x="2000" data-y="2000">
		<p>You might think it is boring...</p>
	</div>
	<div class="step" data-x="3000" data-rotate="100">
		<p>but that is the point. This is a simple example.</p>
	</div>
	<div class="step" data-x="3000" data-rotate="100">
		<p>but that is the point. This is a simple example.</p>
	</div>	
	<div id="rotated" class="step" data-x="3000" data-rotate="100">
		<p>but that is the point. This is a simple example.</p>
	</div>
	<div id="overview" class="step" data-x="3000" data-y="1500" data-scale="10">
    </div>	
</div>

<div class="hint">
    <p>Use arrow keys to navigate</p>
</div>

<script type="text/javascript">
$(function() {
	$('#canvas').jmpress();
	
});
</script>
