<div id="canvas">
	<div id="home" class="step">
		<p>Hello!</p>
	</div>

	<% x = 1000 %>
	<% Page.all.each do |page| %>
		<div class="step" data-x="<%= x %>" data-src="<%= url_for controller: 'pages', action: 'show', id: page %>"></div>
	<% x += 1000 %>
	<% end %>
	
</div>

<div class="hint">
    <p>Use arrow keys to navigate</p>
</div>

<script type="text/javascript">
$(function() {
	$('#canvas').jmpress();
});
</script>
