/*
 * This is a manifest file that'll be compiled into application.css, which will include all the files
 * listed below.
 *
 * Any CSS and SCSS file within this directory, lib/assets/stylesheets, vendor/assets/stylesheets,
 * or vendor/assets/stylesheets of plugins, if any, can be referenced here using a relative path.
 *
 * You're free to add application-wide styles to this file and they'll appear at the top of the
 * compiled file, but it's generally better to create a new file per style scope.
 *
 *= require_self
 *= 
 */

body {
    /*background-image:url("/assets/concrete.jpg");*/
    background-position:90% 0%;
    background-size: cover;
    font-family: Times, Times Roman, sans-serif;
    color:black;
}

/** FLOATING MENU **/

#menu {
	position: fixed; 
	top: 50px; 
	left: 10px; 
	pointer-events: auto;
	z-index:255;
	}

/** STEP STYLES **/

.step {
	width: 500px;
    /*height: 200px;*/
	font-size: 1em;
	/*min-height: 500px;*/
}

.step.page {
	background-color: transparent;

	display: block;
    padding: 20px;

    /*box-shadow: 0 2px 6px rgba(0, 0, 0, .1);
    border: 1px solid rgba(0, 0, 0, .3);*/

    /*letter-spacing: -1px;*/

	-webkit-box-sizing: border-box;
	-moz-box-sizing:    border-box;
	-ms-box-sizing:     border-box;
	-o-box-sizing:      border-box;
	box-sizing:         border-box;

	-webkit-transition: opacity 1s;
	-moz-transition:    opacity 1s;
	-ms-transition:     opacity 1s;
	-o-transition:      opacity 1s;
	transition:         opacity 1s;
}

.step.uchronist {
	background-color: transparent;
    padding: 40px 60px;
}

.step.uchronist img {
	width:100%;
}

.step.uchronia {
	background-color: transparent;
}

.step.overview {

}

#overview
{
	background: none;
	border:none;
	z-index: -1;
}

#overview-uchronists {
	background-image:url("/assets/wireframe.png");
	background-size:100%;
}

#biographygenerator {
	background-color: transparent;
	padding: 40px;
}

/* fade out inactive slides */
.step:not(.active) {
	/*opacity: 0.3;*/
	/*display:none;*/
	cursor:pointer;
}

/* hint on the first slide */
.hint {
	position: fixed;
	left: 0;
	right: 0;
	bottom: 0px;

	background: #333;
	color: #fff;
	text-align: right;

	padding: 10px;
	z-index: 100;

	opacity: 0;

	-webkit-transform: translateY(400px);
	-moz-transform:    translateY(400px);
	-ms-transform:     translateY(400px);
	-o-transform:      translateY(400px);
	transform:         translateY(400px);

	-webkit-transition: opacity 1s, -webkit-transform 0.5s 1s;
	-moz-transition:    opacity 1s,    -moz-transform 0.5s 1s;
	-ms-transition:     opacity 1s,     -ms-transform 0.5s 1s;
	-o-transition:      opacity 1s,      -o-transform 0.5s 1s;
	transition:         opacity 1s,         transform 0.5s 1s;
}
.step-home + .hint {
	opacity: 1;

	-webkit-transition: opacity 1s 5s, -webkit-transform 0.5s;
	-moz-transition:    opacity 1s 5s,    -moz-transform 0.5s;
	-ms-transition:     opacity 1s 5s,     -ms-transform 0.5s;
	-o-transition:      opacity 1s 5s,      -o-transform 0.5s;
	transition:         opacity 1s 5s,         transform 0.5s;

	-webkit-transform: translateY(0px);
	-moz-transform:    translateY(0px);
	-ms-transform:     translateY(0px);
	-o-transform:      translateY(0px);
	transform:         translateY(0px);
}

/** NOT SUPPORTED STYLES **/
.not-supported .step {
	position: relative;
	opacity: 1;
	margin: 20px auto;
}

/** PRINT STYLE **/
@media print {
	body {
		background: white;
	}
	.hint {
		display: none;
	}
	#simple {
		width: auto; 
		margin: 0 5%;
		padding: 0; 
		border: 0;
		float: none !important;
		color: black; 
		background: transparent;
	}
	.step {
		page-break-after: always;
		opacity: 1;
		clear: both;
		display: block;
		float: none !important;
		position: relative;
		margin: 20px auto;

		-webkit-transition: rotate(0deg);
		-moz-transition:    rotate(0deg);
		-ms-transition:     rotate(0deg);
		-o-transition:      rotate(0deg);
		transition:         rotate(0deg);
	}
	.step:not(.active) {
		opacity: 1;
	}
}