/*
 * This is a manifest file that'll be compiled into application.css, which will include all the files
 * listed below.
 *
 * Any CSS and SCSS file within this directory, lib/assets/stylesheets, vendor/assets/stylesheets,
 * or vendor/assets/stylesheets of plugins, if any, can be referenced here using a relative path.
 *
 * You're free to add application-wide styles to this file and they'll appear at the top of the
 * compiled file, but it's generally better to create a new file per style scope.
 *
 *= require_self
 *= 
 */

/*@import url(http://fonts.googleapis.com/css?family=Gentium+Book+Basic:400,700);*/

body {
    /*background-image:url("/assets/concrete.jpg");*/
    background-position:90% 0%;
    background-size: cover;
    font-family: "Helvetica Neue", Helvetica, Arial, sans-serif;
    font-size:15px;
    color:#333;
    background-color: #f2f2f2;
    line-height:1.429;
}

* { margin:0px; }
* { padding:0px; }

a {
	color: #000;
	text-decoration: underline;
}

a:hover {
	color: #aaa;
	text-decoration: none;
}

a:visited {
	color: red;
}

h1, h2, h3, h4, iframe, video {
	margin-bottom: 0.3em;
}

#start h1 {
	letter-spacing: 0.07em;
	font-size: 2em;
	margin-bottom: 0.5em;
}

div.video-container {
	margin-bottom: 1em;
}

h3 + div.video-container {
	margin-top: 1em;
}

p {
	margin-bottom: 0.6em;
}

th {
	white-space:nowrap;
	font-weight: bold;
}

th,td {
	vertical-align:top;
	text-align:left;
	padding:0 10px 5px 0;
}

q {
	letter-spacing:0.07ex;
	line-height:1.5em;
}

H1, H2, H3 {
	letter-spacing:0.05ex;
}

q:before {
	content: '«';
}

q:after {
	content: '»';
}

img.youtube { width:100%; }

.video-container {
    position: relative;
    padding-bottom: 56.25%;
    padding-top: 0px; height: 0; overflow: hidden;
}
 
.video-container iframe,
.video-container object,
.video-container embed {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
}


/** FLOATING MENU **/

#menu {
	position: fixed; 
	top: 50px; 
	left: 10px; 
	pointer-events: auto;
	z-index:255;
	}

/** STEP STYLES **/

.step {
	clear:both;
	width: 600px;
	margin-bottom:20px;
    /*height: 200px;*/
	/*font-size: 1em;*/
	/*min-height: 500px;*/
}


.step.page {
	display: block;

    /*box-shadow: 0 2px 6px rgba(0, 0, 0, .1);
    border: 1px solid rgba(0, 0, 0, .3);*/

    /*letter-spacing: -1px;*/

	-webkit-box-sizing: border-box;
	-moz-box-sizing:    border-box;
	-ms-box-sizing:     border-box;
	-o-box-sizing:      border-box;
	box-sizing:         border-box;

	-webkit-transition: opacity 1s;
	-moz-transition:    opacity 1s;
	-ms-transition:     opacity 1s;
	-o-transition:      opacity 1s;
	transition:         opacity 1s;
}

.step.uchronist {
	margin: 20px 40px;
	font-size: 14px;
	padding: 20px;
	/*background-color: rgba(255,255,255,0.9);
	border: solid 1px black; */
}

.step.uchronist q {
	display:block;
	margin-bottom: 0.6em;
}

.step.uchronist dt, .step.uchronist dd {
	display:block;
}


.step.uchronist dt {
	font-weight:bold;
	padding-right:3pt;
	clear:both;
	display:block;
	float:left;
}

dd,dt {
	padding-top:5px;
	padding-bottom:0;
	white-space:normal;
}

.step.uchronist dl + p {
	padding-top:0.6em;
}


.step.uchronist img {
	width:100%;
}

.step.uchronist nav, #credits nav, .uchronia nav, #uchronien nav, #society nav {
	clear:both;
	padding-top: 1.1em;
}

.step.uchronia {
	position:relative;
}

.step.uchronia img{
	position:absolute;
	top:0;
	left:-100px;
	display:block;
	float:right;
}

.start_image {
	position:absolute;
	top: 0px;
	left: -100px;
	z-index: -100;
	display:none;
	opacity: 0.95;
	width:20%;
}

/* gesicht */
.step.uchronia img[data-image-id="25"]{
	top:-10px;
	left:-110px;
	width:20%;
}

img[data-start-image-id="25"]{
	display:block;
	top:-50px;
	left:-200px;
}

/* kreuz */
.step.uchronia img[data-image-id="27"]{
	top:-40px;
	left:25%;
	width:10%;
}

img[data-start-image-id="27"]{
	display:block;
	top:-50px;
	left:600px;
	widtH: 10%;
}


/* Schlüsselwappen */
.step.uchronia img[data-image-id="24"]{
	top:9%;
	left:-130px;
	width:13%;
}

img[data-start-image-id="24"]{
	display:block;
	top:250px;
	left:-250px;
	width: 10%;
}

/* Berg */
.step.uchronia img[data-image-id="26"]{
	top:66%;
	left:70%;
}

img[data-start-image-id="26"]{
	display:block;
	top:200px;
	left:700px;
	width: 40%;
}


/* Berg */
.step.uchronia img[data-image-id="30"]{
	top:-10%;
	left:10%;
	width:20%;
}

/* Augenstrahlen */
.step.uchronia img[data-image-id="21"]{
	top:-10%;
	left:-15%;
	width:20%;
}

img[data-start-image-id="21"]{
	display:block;
	top:400px;
	left:600px;
}

/* Augententakel */
.step.uchronia img[data-image-id="22"]{
	top:-5%;
	left:55%;
	width:20%;
}

img[data-start-image-id="22"]{
	display:block;
	top:400px;
	left:-300px;
	width: 30%;
}


/* See */
.step.uchronia img[data-image-id="28"]{
	left:25%;
}

img[data-start-image-id="28"]{
	width: 50%;
	display:block;
	top:600px;
	left:-200px;
}

/* tunnel */
img[data-start-image-id="30"]{
	display:block;
	top:300px;
	left:800px;
}



.step.uchronia .bio_translation.hide-bio {
	display:none;
}

.step.overview {

}


.row .col-1, .row.col-1, .col-1 {
	clear:both;
	float:left;
	width:100%;
}

.row .col-2 {
	float:left;
	width:290px;
}

.row .col-2:first-child {
	margin-right:20px;
}

.row .col-3 {
	float:left;
	width:33%;
}

iframe, video {
	width:100%;
}

#uchronien .col-1 {
	-webkit-column-count:2;
	-moz-column-count:2;
	column-count:2;
}

#credits {
	font-size:85%;
}

#credits dt {
	clear:both;
	float:left;
	display:block;
	margin-top:0.3em;
	padding-right:1ex;
	font-weight:bold;
}

#credits dd {
	float:left;
	display:block;
	margin-top:0em;
}

#credits p {
	float:left;
}


#society iframe {
	float:left;
	width:100%;
}

#society {
	font-size:14px;
}

#start iframe {
	width:100%;

}

#society .col-1 {
	-moz-column-count: 2;
	-webkit-column-count: 2;
	column-count: 2;
}

#overview
{
	background: none;
	border:none;
	z-index: -1;
}

#overview-uchronists {
	background-image:url("/assets/wireframe.png");
	background-size:100%;
}

#termine table td[rowspan] {
	font-weight:bold;
	font-size:2em;
	padding:2px 10px 7px 0;
}

#termine table td {
	padding:0px;
	padding-right:10px;
}

#termine table td:nth-child(3),#termine table td:nth-child(4),#termine table td:nth-child(5) {
	padding-right:5px;
}

#termine table td:nth-child(4),#termine table td:nth-child(5) {
	text-align:right;
}

#biographie-transformator {
	padding: 20px;
	width:800px;
	font-size:14px;
}

#biographie-transformator .col-2 {
	width:50%;
}

div.uchronia {
	width: 800px;
	font-size:14px;
}

div.uchronia .row .col-2:first-child {
	-moz-column-count: 2;
	-webkit-column-count: 2;
	column-count: 2;
	width: 66%;
	margin-right: 0px;
}

div.uchronia .row .col-2:last-child {
	width: 30%;
	float: right;
	position:relative;
}

.post-it {
position: relative;
top:-20px;
left:20px;

background:#fefabc; 
padding:15px; 
/*font-family: 'Gloria Hallelujah', cursive; */
/*font-size:15px; */
color: #000;  

-moz-transform: rotate(3deg);
-webkit-transform: rotate(3deg);
-o-transform: rotate(3deg);
-ms-transform: rotate(3deg);
transform: rotate(3deg);

box-shadow: 0px 2px 4px #666;
-moz-box-shadow: 0px 2px 4px #666;
-webkit-box-shadow: 0px 2px 4px #666;

}

div.uchronia .row .col-2:last-child .post-it {
	position:absolute;
	width:100%;
	left:-20px;
}

.post-it-2 { 

background:#fefabc; 
padding:15px; 
color: #000;  

-moz-transform: rotate(-2deg);
-webkit-transform: rotate(-2deg);
-o-transform: rotate(-2deg);
-ms-transform: rotate(-2deg);
transform: rotate(-2deg);

box-shadow: 0px 2px 4px #666;
-moz-box-shadow: 0px 2px 4px #666;
-webkit-box-shadow: 0px 2px 4px #666;
}


#start .post-it {
	width: 200px;
	float: right;
}

#start div.main-nav {
	top: -50px;
	float: left;
}

#start nav p:first-child {
	margin-bottom: 0.5em;
}


/* fade out inactive slides */
#canvas[class*=step] .step:not(.active) {
	opacity: 0.3;
	z-index:-1;
	/*display:none;*/
	cursor: pointer;
}

.step.active, .step:not(.active):hover {
	z-index:1
}

#canvas[class*=step] .step:not(.active):hover {
	opacity: 0.8;
	cursor: pointer;
}

/* hint on the first slide */
.hint {
	position: fixed;
	left: 0;
	right: 0;
	bottom: 0px;

	background: #333;
	color: #fff;
	text-align: right;

	padding: 10px;
	z-index: 100;

	opacity: 0;

	-webkit-transform: translateY(400px);
	-moz-transform:    translateY(400px);
	-ms-transform:     translateY(400px);
	-o-transform:      translateY(400px);
	transform:         translateY(400px);

	-webkit-transition: opacity 1s, -webkit-transform 0.5s 1s;
	-moz-transition:    opacity 1s,    -moz-transform 0.5s 1s;
	-ms-transition:     opacity 1s,     -ms-transform 0.5s 1s;
	-o-transition:      opacity 1s,      -o-transform 0.5s 1s;
	transition:         opacity 1s,         transform 0.5s 1s;
}
.step-home + .hint {
	opacity: 1;

	-webkit-transition: opacity 1s 5s, -webkit-transform 0.5s;
	-moz-transition:    opacity 1s 5s,    -moz-transform 0.5s;
	-ms-transition:     opacity 1s 5s,     -ms-transform 0.5s;
	-o-transition:      opacity 1s 5s,      -o-transform 0.5s;
	transition:         opacity 1s 5s,         transform 0.5s;

	-webkit-transform: translateY(0px);
	-moz-transform:    translateY(0px);
	-ms-transform:     translateY(0px);
	-o-transform:      translateY(0px);
	transform:         translateY(0px);
}

.bg-spot-1 {
	background: -moz-radial-gradient(center, ellipse cover,  rgba(249,237,7,1) 0%, rgba(255,255,255,0) 100%); /* FF3.6+ */
	background: -webkit-gradient(radial, center center, 0px, center center, 100%, color-stop(0%,rgba(249,237,7,1)), color-stop(100%,rgba(255,255,255,0))); /* Chrome,Safari4+ */
	background: -webkit-radial-gradient(center, ellipse cover,  rgba(249,237,7,1) 0%,rgba(255,255,255,0) 100%); /* Chrome10+,Safari5.1+ */
	background: -o-radial-gradient(center, ellipse cover,  rgba(249,237,7,1) 0%,rgba(255,255,255,0) 100%); /* Opera 12+ */
	background: -ms-radial-gradient(center, ellipse cover,  rgba(249,237,7,1) 0%,rgba(255,255,255,0) 100%); /* IE10+ */
	background: radial-gradient(ellipse at center,  rgba(249,237,7,1) 0%,rgba(255,255,255,0) 100%); /* W3C */
	filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#f9ed07', endColorstr='#00ffffff',GradientType=1 ); /* IE6-9 fallback on horizontal gradient */
}

.bg-spot-2{
	background: -moz-radial-gradient(center, ellipse cover,  rgba(255,247,104,1) 0%, rgba(255,255,255,0) 75%); /* FF3.6+ */
	background: -webkit-gradient(radial, center center, 0px, center center, 100%, color-stop(0%,rgba(255,247,104,1)), color-stop(75%,rgba(255,255,255,0))); /* Chrome,Safari4+ */
	background: -webkit-radial-gradient(center, ellipse cover,  rgba(255,247,104,1) 0%,rgba(255,255,255,0) 75%); /* Chrome10+,Safari5.1+ */
	background: -o-radial-gradient(center, ellipse cover,  rgba(255,247,104,1) 0%,rgba(255,255,255,0) 75%); /* Opera 12+ */
	background: -ms-radial-gradient(center, ellipse cover,  rgba(255,247,104,1) 0%,rgba(255,255,255,0) 75%); /* IE10+ */
	background: radial-gradient(ellipse at center,  rgba(255,247,104,1) 0%,rgba(255,255,255,0) 75%); /* W3C */
	filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#fff768', endColorstr='#00ffffff',GradientType=1 ); /* IE6-9 fallback on horizontal gradient */
}

/************ FALLBACK STYLES *****************/

.not-supported .step {
	position: relative;
	opacity: 1;
	margin: 20px auto;
}

.not-supported .not-supported-hide {
	display:none;
}

.not-supported nav {
	display:none;
}

.not-supported .slide {
	margin-bottom:2em;
}

.not-supported .uchronia {
	width:600px;
}

.not-supported div.uchronia .row .col-2:first-child {
	width:50%;
}

.not-supported div.uchronia .row .col-2:first-child,
.not-supported #society .col-1,
.not-supported #uchronien .col-1 {
	-webkit-column-count:1;
	-moz-column-count:1;
	column-count:1;
}

.not-supported div.uchronia img {
	position:relative !important;
	top:0 !important;
	left:0 !important;
	width:50% !important;
}

.not-supported .post-it {
	-moz-transform: rotate(0deg);
	-webkit-transform: rotate(0deg);
	-o-transform: rotate(0deg);
	-ms-transform: rotate(0deg);
	transform: rotate(0deg);
	left:0;
	top:0;
}

.not-supported .post-it-2 {
	-moz-transform: rotate(0deg);
	-webkit-transform: rotate(0deg);
	-o-transform: rotate(0deg);
	-ms-transform: rotate(0deg);
	transform: rotate(0deg);
}

.not-supported #biographie-transformator {
	width: 600px;
}

.not-supported #biographie-transformator .col-2 {
	width: 100%;
}

/************** MOBILE FALLBACK *******************/

@media only screen and (max-width: 600px) {

	#canvas.not-supported {
		padding:1%;
	}
	
	.not-supported .step {
		width:100% !important;
		margin: 0 0 0 0 !important;
		padding: 0 0 2em 0 !important;
	}
	
	.not-supported .step .col-2 {
		width:100% !important;
	}
		
	.not-supported div.uchronia img {
		width: 25% !important;
	}
	
	.not-supported div.uchronia .row .col-2:last-child {
		float: left;
	}	
	
	.not-supported .step .post-it {
		clear:both;
		float:left !important;
		width:80% !important;
		margin:5% !important;
	}

	.not-supported #termine th {
		display:none;
	}

	.not-supported #termine td[rowspan="2"]:before {
		content:"Tour ";
	}
	
	.not-supported #termine td {
		display:block;
	}
	
	.not-supported #termine table tr td:nth-child(3),
	.not-supported #termine table tr td:nth-child(4),
	.not-supported #termine table tr td:nth-child(5),
	.not-supported #termine table tr:nth-child(2n+1) td:nth-child(2) {
		display:inline-block;
		float:left;
	}
	
	.not-supported #termine td {
	
	}

}


/******************* PRINT *********************/


/** PRINT STYLE **/
@media print {
	body {
		background: white;
	}
	.hint {
		display: none;
	}
	#simple {
		width: auto; 
		margin: 0 5%;
		padding: 0; 
		border: 0;
		float: none !important;
		color: black; 
		background: transparent;
	}
	.step {
		page-break-after: always;
		opacity: 1;
		clear: both;
		display: block;
		float: none !important;
		position: relative;
		margin: 20px auto;

		-webkit-transition: rotate(0deg);
		-moz-transition:    rotate(0deg);
		-ms-transition:     rotate(0deg);
		-o-transition:      rotate(0deg);
		transition:         rotate(0deg);
	}
	.step:not(.active) {
		opacity: 1;
	}
}

/************* LOW HEIGHT ****************/

@media only screen and (max-height: 500px) {
.step {
	/*font-size: 0.8em;*/
	}
}

