/*
 * This is a manifest file that'll be compiled into application.css, which will include all the files
 * listed below.
 *
 * Any CSS and SCSS file within this directory, lib/assets/stylesheets, vendor/assets/stylesheets,
 * or vendor/assets/stylesheets of plugins, if any, can be referenced here using a relative path.
 *
 * You're free to add application-wide styles to this file and they'll appear at the top of the
 * compiled file, but it's generally better to create a new file per style scope.
 *
 *= require_self
 *= 
 */

body {
    /*background-image:url("/assets/concrete.jpg");*/
    background-position:90% 0%;
    background-size: cover;
    font-family: "Helvetica",Helvetica,Arial,sans-serif;
    font-size:15px;
    color:black;
    line-height:1.429;
}

* { margin:0px; }
* { padding:0px; }

a {
	color: #888;
	text-decoration: none;
}

a:hover {
	color: #aaa;
	text-decoration: underline;
}

a:visited {
	color: #666;
}

h1, h2, h3, h4, iframe {
	margin-bottom: 0.3em;
}

#start h1 {
	margin-bottom: 0em;
}

div.video-container {
	margin-bottom: 1em;
}

h3 + div.video-container {
	margin-top: 1em;
}

p {
	margin-bottom: 1em;
}

th {
	white-space:nowrap;
	font-weight: bold;
}

th,td {
	vertical-align:top;
	text-align:left;
	padding:0 10px 10px 0;
}

q:before {
	content: '«';
}

q:after {
	content: '»';
}

img.youtube { width:100%; }

.video-container {
    position: relative;
    padding-bottom: 56.25%;
    padding-top: 0px; height: 0; overflow: hidden;
}
 
.video-container iframe,
.video-container object,
.video-container embed {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
}


/** FLOATING MENU **/

#menu {
	position: fixed; 
	top: 50px; 
	left: 10px; 
	pointer-events: auto;
	z-index:255;
	}

/** STEP STYLES **/

.step {
	width: 600px;
    /*height: 200px;*/
	/*font-size: 1em;*/
	/*min-height: 500px;*/
}

@media only screen and (max-height: 500px) {
.step {
	font-size: 0.8em;
	}
}


@media only screen and (max-width: 500px) {
.step {

	}
}

.step.page {
	display: block;

    /*box-shadow: 0 2px 6px rgba(0, 0, 0, .1);
    border: 1px solid rgba(0, 0, 0, .3);*/

    /*letter-spacing: -1px;*/

	-webkit-box-sizing: border-box;
	-moz-box-sizing:    border-box;
	-ms-box-sizing:     border-box;
	-o-box-sizing:      border-box;
	box-sizing:         border-box;

	-webkit-transition: opacity 1s;
	-moz-transition:    opacity 1s;
	-ms-transition:     opacity 1s;
	-o-transition:      opacity 1s;
	transition:         opacity 1s;
}

.step.uchronist {
    padding: 40px 60px;
    font-size:14px;
}

.step.uchronist q {
	display:block;
	margin-bottom: 0.6em;
}

.step.uchronist dt, .step.uchronist dd {
	display:inline;
}


.step.uchronist dt {
	font-weight:bold;
	padding-right:3pt;
	clear:both;
	display:block;
	float:left;
}

dd {
	padding-top:5px;
	padding-bottom:0;
}

.step.uchronist dd:after {
	content: '\A\A';
	margin-bottom:0.6em;
	display:block;
}


.step.uchronist img {
	width:100%;
}

.step.uchronia {
	position:relative;
}

.step.uchronia .bio_translation {
	
}

.step.overview {

}


.row .col-1, .row.col-1, .col-1 {
	clear:both;
	float:left;
	width:100%;
}

.row .col-2 {
	float:left;
	width:290px;
}

.row .col-2:first-child {
	margin-right:20px;
}

.row .col-3 {
	float:left;
	width:33%;
}

iframe {
	width:100%;
}

#society iframe {
	float:left;
	width:50%;
	margin: 0 10px 10px 0;
}

#start iframe {
	width:100%;

}

#overview
{
	background: none;
	border:none;
	z-index: -1;
}

#overview-uchronists {
	background-image:url("/assets/wireframe.png");
	background-size:100%;
}

#biographie-transformator {
	padding: 20px;
	width:800px;
	font-size:14px;
}

#biographie-transformator .col-2 {
	width:50%;
}

div.uchronia {
	width: 800px;
	font-size:14px;
}

div.uchronia .row .col-2:first-child {
	-moz-column-count: 2;
	-webkit-column-count: 2;
	column-count: 2;
	width: 66%;
	margin-right: 0px;
}

div.uchronia .row .col-2:last-child {
	width: 30%;
	float: right;
}

.post-it {
position: relative;
top:-20px;
left:20px;

background:#fefabc; 
padding:15px; 
/*font-family: 'Gloria Hallelujah', cursive; */
/*font-size:15px; */
color: #000;  

-moz-transform: rotate(3deg);
-webkit-transform: rotate(3deg);
-o-transform: rotate(3deg);
-ms-transform: rotate(3deg);
transform: rotate(3deg);

box-shadow: 0px 2px 4px #666;
-moz-box-shadow: 0px 2px 4px #666;
-webkit-box-shadow: 0px 2px 4px #666;

}

.post-it-2 { 

background:#fefabc; 
padding:15px; 
color: #000;  

-moz-transform: rotate(-2deg);
-webkit-transform: rotate(-2deg);
-o-transform: rotate(-2deg);
-ms-transform: rotate(-2deg);
transform: rotate(-2deg);

box-shadow: 0px 2px 4px #666;
-moz-box-shadow: 0px 2px 4px #666;
-webkit-box-shadow: 0px 2px 4px #666;
}


#start .post-it {
	width: 200px;
	float: right;
}

#start nav {
	top: -50px;
	float: left;
}

#start nav p:first-child {
	margin-bottom: 0.5em;
}


/* fade out inactive slides */
.step:not(.active) {
	opacity: 0.3;
	z-index:-1;
	/*display:none;*/
	cursor: pointer;
}

.step.active, .step:not(.active):hover {
	z-index:1
}

.step:not(.active):hover {
	opacity: 0.8;
	cursor: pointer;
}

/* hint on the first slide */
.hint {
	position: fixed;
	left: 0;
	right: 0;
	bottom: 0px;

	background: #333;
	color: #fff;
	text-align: right;

	padding: 10px;
	z-index: 100;

	opacity: 0;

	-webkit-transform: translateY(400px);
	-moz-transform:    translateY(400px);
	-ms-transform:     translateY(400px);
	-o-transform:      translateY(400px);
	transform:         translateY(400px);

	-webkit-transition: opacity 1s, -webkit-transform 0.5s 1s;
	-moz-transition:    opacity 1s,    -moz-transform 0.5s 1s;
	-ms-transition:     opacity 1s,     -ms-transform 0.5s 1s;
	-o-transition:      opacity 1s,      -o-transform 0.5s 1s;
	transition:         opacity 1s,         transform 0.5s 1s;
}
.step-home + .hint {
	opacity: 1;

	-webkit-transition: opacity 1s 5s, -webkit-transform 0.5s;
	-moz-transition:    opacity 1s 5s,    -moz-transform 0.5s;
	-ms-transition:     opacity 1s 5s,     -ms-transform 0.5s;
	-o-transition:      opacity 1s 5s,      -o-transform 0.5s;
	transition:         opacity 1s 5s,         transform 0.5s;

	-webkit-transform: translateY(0px);
	-moz-transform:    translateY(0px);
	-ms-transform:     translateY(0px);
	-o-transform:      translateY(0px);
	transform:         translateY(0px);
}

.bg-spot-1 {
	background: -moz-radial-gradient(center, ellipse cover,  rgba(249,237,7,1) 0%, rgba(255,255,255,0) 100%); /* FF3.6+ */
	background: -webkit-gradient(radial, center center, 0px, center center, 100%, color-stop(0%,rgba(249,237,7,1)), color-stop(100%,rgba(255,255,255,0))); /* Chrome,Safari4+ */
	background: -webkit-radial-gradient(center, ellipse cover,  rgba(249,237,7,1) 0%,rgba(255,255,255,0) 100%); /* Chrome10+,Safari5.1+ */
	background: -o-radial-gradient(center, ellipse cover,  rgba(249,237,7,1) 0%,rgba(255,255,255,0) 100%); /* Opera 12+ */
	background: -ms-radial-gradient(center, ellipse cover,  rgba(249,237,7,1) 0%,rgba(255,255,255,0) 100%); /* IE10+ */
	background: radial-gradient(ellipse at center,  rgba(249,237,7,1) 0%,rgba(255,255,255,0) 100%); /* W3C */
	filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#f9ed07', endColorstr='#00ffffff',GradientType=1 ); /* IE6-9 fallback on horizontal gradient */
}

.bg-spot-2{
	background: -moz-radial-gradient(center, ellipse cover,  rgba(255,247,104,1) 0%, rgba(255,255,255,0) 75%); /* FF3.6+ */
	background: -webkit-gradient(radial, center center, 0px, center center, 100%, color-stop(0%,rgba(255,247,104,1)), color-stop(75%,rgba(255,255,255,0))); /* Chrome,Safari4+ */
	background: -webkit-radial-gradient(center, ellipse cover,  rgba(255,247,104,1) 0%,rgba(255,255,255,0) 75%); /* Chrome10+,Safari5.1+ */
	background: -o-radial-gradient(center, ellipse cover,  rgba(255,247,104,1) 0%,rgba(255,255,255,0) 75%); /* Opera 12+ */
	background: -ms-radial-gradient(center, ellipse cover,  rgba(255,247,104,1) 0%,rgba(255,255,255,0) 75%); /* IE10+ */
	background: radial-gradient(ellipse at center,  rgba(255,247,104,1) 0%,rgba(255,255,255,0) 75%); /* W3C */
	filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#fff768', endColorstr='#00ffffff',GradientType=1 ); /* IE6-9 fallback on horizontal gradient */
}

/** NOT SUPPORTED STYLES **/
.not-supported .step {
	position: relative;
	opacity: 1;
	margin: 20px auto;
}

/** PRINT STYLE **/
@media print {
	body {
		background: white;
	}
	.hint {
		display: none;
	}
	#simple {
		width: auto; 
		margin: 0 5%;
		padding: 0; 
		border: 0;
		float: none !important;
		color: black; 
		background: transparent;
	}
	.step {
		page-break-after: always;
		opacity: 1;
		clear: both;
		display: block;
		float: none !important;
		position: relative;
		margin: 20px auto;

		-webkit-transition: rotate(0deg);
		-moz-transition:    rotate(0deg);
		-ms-transition:     rotate(0deg);
		-o-transition:      rotate(0deg);
		transition:         rotate(0deg);
	}
	.step:not(.active) {
		opacity: 1;
	}
}