body {
    background-image:url("/assets/wirwuerdenhiersein.jpg");
    background-position:90% 0%;
    background-size:contain;
}

html, body {
    font-family:sans-serif;
    height:100%;
}

body {

}

a {
	text-decoration: none;
	color: #999;
}

.wrapper {
    height: 100%;
    width:75%;
    max-width:500px;
    display:table;
    margin:auto;
}
.center {
    display:table-cell;
    vertical-align:middle;
    text-align:left;
    height:100%;
}
.register {
	position:relative;
	background-color:rgba(255, 255, 255, .9);
	border-radius:2px;
	border:1px rgba(88,88,88,0.7) solid;
	padding:35px;
	font-size:16px;
	line-height:22px;
	-webkit-box-shadow: 3px 3px 28px rgba(50, 50, 50, 0.76);
	-moz-box-shadow:    3px 3px 28px rgba(50, 50, 50, 0.76);
	box-shadow:         3px 3px 28px rgba(50, 50, 50, 0.76);	
}

.register form {
}

.register form input{
	display:inline-block;
}

.register form input[type=email]{
	width:60%;
	font-size:18px;
	padding:5px;
}

.register form input[type=submit]{
	width:30%;
	font-size:18px;
	margin-left:1%;
	background-color:#eee;
	padding:5px;
}
