<!DOCTYPE html>
<html>
<head>
  <title>WIR WÜRDEN HIER SEIN</title>
  <%= stylesheet_link_tag "print", media: "all" %>
  <%= javascript_include_tag "print" %>
</head>
<body>

<%= yield %>

</body>
</html>
