<!DOCTYPE html>
<html>
<head>
  <title>WIR WÜRDEN HIER SEIN</title>
  <%= stylesheet_link_tag    "splash", :media => "all" %>
  <%= javascript_include_tag "splash" %>
  <%= csrf_meta_tags %>
</head>
<body>

<%= yield %>

</body>
</html>
